--- 
import Layout from '../layouts/Layout.astro';
---


<Layout title="Historia de Pelluhue">
    <div class="flex min-h-screen items-center justify-center font-anton text-white text-4xl">Proximamente</div>








</Layout>



<style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    .font-anton { font-family: 'Anton', sans-serif; }
</style>