---
import Header from '../components/Header.astro';
import '../styles/global.css';
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
        </head>
	<body>
        <Header />
        <slot />

	</body>
</html>


<style is:global>
	html, 
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #000;
	}
</style>
